/* ------- GERAL ------- */
body {
    color: #d8d8d8;
    background: #000221;
    font-size: 100%;
    font-style: normal;
    font-family: "georgia";
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------- HEADER ------- */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    background: #1e1e1e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    width:100px;  
    height:100px;
}

.title {
    font-size: 300%;
}

.links {
    display: flex;
    justify-content:space-between;
    width: 200px;
    font-size: 1.5em;
    color:  #d8d8d8;
}

.links a {
    background: #d8d8d8;
    margin: 10px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    border-width: 4px;
    border-radius:5px;
    padding: 10px;
}

a:hover {
    color: rgb(12, 15, 115);   
}


/* -------------- MAIN --------------- */
.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;

    background: #040433
}


/* --------- FOTO E DESCRIÇÃO ---------- */
.nome {
    font-size: 200%
}

p {
    width: 500px;
    padding-top: 25px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5;
    white-space: normal;
}

.photo img {
    border-radius: 50%;
    width: 275px;
    height: 275px;
}


/* --------- LISTAS --------- */
.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom:50px;
}

.list > div {
    margin: 60px;
}


/* ------- BLOCO DOS HOBBIES E TIERLIST ------- */

.hobbies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.subtitulo_1 {
    text-align: right;
    padding-bottom: 50px;
    font-size: 2em;
}


.tier_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.subtitulo_2 {
    padding-bottom: 50px;
    font-size: 2em;
}


/* --------- BLOCOS --------- */
.blocos {
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-evenly;
    gap: 20px;
}

.bloco{
    width: 100px;
    height: 100px;
    background-color: #d8d8d8;
    border-radius: 3px;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #000;
}

.bloco div {
    display:none;
    position:relative
}

.bloco:hover div {
    display:flex;
    justify-content: center;
    text-align:center;
    background: #1e1e1e;
    color:rgb(213, 208, 208);
    width:110px;
    border-radius:5px;
    padding: 5px;
}

.icon {
    padding-top: 10px;
    padding-left: 10px;
    width: 80px;
    height: 80px;
}


/*--------- FOOTER ------------*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background: #1e1e1e;
}

.imagens {
    display: flex;
    width: 40px;
    height: 40px;
}

.imagens > img {
    padding-left: 50px;
}

.botao a {
    margin-right: 50px;
    font-size: 2em;
    background: #d8d8d8;
    color: rgb(51, 51, 51);
    text-decoration: none;
    border-width: 5px;
    border-radius: 5px;
    padding: 10px;
} 

a:hover {
    color: rgb(12, 15, 115);   
}


/* ------- MENU HAMBURGUER ----------- */
.container {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

#checkbox_menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0px;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox_menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox_menu:checked + label span:nth-child(2){
    opacity: 0;
}

#checkbox_menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

.nav {
    display: none;
    flex-direction: column;
    background-color: #d8d8d8;
    border-radius:5px; 
    padding: 10px; 
}

.nav a{
    text-decoration: none;
    margin: 10px;
    color:  rgb(51, 51, 51);
    line-height: 1.5;
    font-size: 1.5em;
}

#checkbox_menu:checked ~ div {
    display: block;
    position: absolute;
    margin-top: 30px; 
}

/* ------- RESPONSIVIDADE --------- */
@media (max-width: 1200px)
{
    .logo {
        display: flex;
        width:50px;  
        height:50px;
    }
    
    .title {
        font-size: 200%;
    }

    .container {
        display: flex;
    }
    
    .links {
        display: none;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background: #1e1e1e;
    }
    
    .imagens {
        display: flex;
        width: 30px;
        height: 30px;
    }
    
    .imagens > img {
        padding-left: 30px;
    }
    
    .botao a {
        margin-right: 30px;
        font-size: 1.5em;
        background: #d8d8d8;
        color: rgb(51, 51, 51);
        text-decoration: none;
        border-width: 5px;
        border-radius: 5px;
        padding: 10px;
    } 

    .subtitulo_1 {
        text-align: left;
    }
}

@media (max-width:830px)
{
    .botao a {
        margin-right: 25px;
        font-size: 1em;
        background: #d8d8d8;
        color: rgb(51, 51, 51);
        text-decoration: none;
        border-width: 2px;
        border-radius: 2px;
        padding: 5px;
    } 
}

@media (max-width:590px)
{
    .title {
        font-size: 125%;
    }
    
    .nome {
        font-size: 100%;
        padding-top: 25px;
    }
    
    p {
        width: 350px;
        padding-top: 25px;
        text-align: justify;
        font-size: 1em;
    }

    .imagens {
        display: flex;
        width: 20px;
        height: 20px;
    }
    
    .imagens > img {
        padding-left: 15px;
    }
}